pytz
vsphere-automation-sdk @ git+https://github.com/vmware/vsphere-automation-sdk-python.git
ansible
ansible-lint
pynetbox
python-dotenv
pyvmomi==8.0.3.0.1
netaddr
xmltodict
jmespath
librouteros
aiohttp
ansible-pylibssh
dnspython
