upstream backend_{{ vserver.replace('.', '_') }} {
{% for server in backend_servers %}
    server {{ server.ip }}:{{ server.port }} max_fails=2 fail_timeout=4s{{ ' ' + server.state if server.state != '' else '' }};
{% endfor %}
    keepalive 32;
}

server {
    listen          80;
    server_name     {{ vserver }};

    location / {
        proxy_pass {{ backend_proto | mandatory }}://backend_{{ vserver.replace('.', '_') }};
{% if backend_proto == 'https' %}
        include /etc/nginx/snippets/proxy-ssl-opts.conf;
{% endif %}
    }
}
