server {
    set $vserver {{ vserver }};
    include /etc/nginx/snippets/http-redirect.conf;
}

upstream backend_{{ vserver.split('.')[0] }} {
{% for server in backend_servers %}
    server {{ server.ip }}:{{ server.port }} max_fails=2 fail_timeout=4s{{ ' ' + server.state if server.state != '' else '' }};
{% endfor %}
    keepalive 32;
}

server {
    set $vserver {{ vserver }};
    set $domain {{ vserver.split('.')[1:] | join('.') }};
    include /etc/nginx/snippets/basic-ssl-opts.conf;

    location / {
        proxy_pass https://backend_{{ vserver.split('.')[0] }};
        include /etc/nginx/snippets/proxy-ssl-opts.conf;
    }
}
